<div class="container">
  <div class="row justify-content-center">
    <div class="">
      <div class="message-box _success">
        <div class="box">
          <div class="success alert">
            <div class="alert-body"></div>
          </div>
        </div>

        <h2>Thank you for your order!</h2>
        <p>Order ID: <b>#199234138911</b></p>
        <p>
          Your payment has been successfully processed. You will receive a
          confirmation email shortly with your order details. If you have any
          questions or need further assistance, please don't hesitate to contact
          our customer support team.
        </p>
      </div>
    </div>
  </div>
</div>
