<div class="eight">
  <h1>
    Unleashing digital creativity.

    <p>
      Dive into a world where creativity knows no bounds. Our digital art
      platform brings together talented creators and enthusiasts alike. Explore
      a vibrant collection of artworks, from stunning illustrations to
      groundbreaking digital masterpieces. Join us in celebrating the limitless
      possibilities of digital art.
    </p>
  </h1>
</div>

<div class="video-section">
  <section class="one">
    <div
      class="background-blur"
      [ngStyle]="{
        'background-image':
          'url(https://vz-a9a2725a-03d.b-cdn.net/8eb4a866-54fa-4ca2-80db-268be61fb844/thumbnail.jpg)'
      }"
    ></div>
    <div class="left">
      <div class="reel__container">
        <iframe
          src="https://iframe.mediadelivery.net/embed/257137/8eb4a866-54fa-4ca2-80db-268be61fb844?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
          loading="lazy"
          style="
            border: 0;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
          "
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        >
        </iframe>
        <div class="reel__title"></div>
        <div class="reel__content">
          <div class="reel__desc">
            <p class="reel__caption">Abstract Colors</p>
          </div>
          <div class="reel__options">
            <a routerLink="/checkout">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart reel__cart-icon">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 12.35a2 2 0 0 0 2 1.65h8.24a2 2 0 0 0 2-1.65L23 6H6"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="one">
    <div
      class="background-blur"
      [ngStyle]="{
        'background-image':
          'url(https://vz-a9a2725a-03d.b-cdn.net/cfdbe93b-23d8-4001-935e-94690ca36bc4/thumbnail_25d6ca50.jpg)'
      }"
    ></div>
    <div class="left">
      <div class="reel__container">
        <iframe
          src="https://iframe.mediadelivery.net/embed/257137/cfdbe93b-23d8-4001-935e-94690ca36bc4?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
          loading="lazy"
          style="
            border: 0;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
          "
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        >
        </iframe>
        <div class="reel__title"></div>
        <div class="reel__content">
          <div class="reel__desc">
            <p class="reel__caption">Purpose of Life</p>
          </div>
          <div class="reel__options">
            <a routerLink="/checkout">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart reel__cart-icon">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 12.35a2 2 0 0 0 2 1.65h8.24a2 2 0 0 0 2-1.65L23 6H6"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="one">
    <div
      class="background-blur"
      [ngStyle]="{
        'background-image':
          'url(https://vz-a9a2725a-03d.b-cdn.net/c247b915-c7d5-415f-b3d0-845d947b2627/thumbnail.jpg)'
      }"
    ></div>
    <div class="left">
      <div class="reel__container">
        <iframe
          src="https://iframe.mediadelivery.net/embed/257137/c247b915-c7d5-415f-b3d0-845d947b2627?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
          loading="lazy"
          style="
            border: 0;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
          "
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        >
        </iframe>
        <div class="reel__title"></div>
        <div class="reel__content">
          <div class="reel__desc">
            <p class="reel__caption">Beautiful Sunset</p>
          </div>
          <div class="reel__options">
            <a routerLink="/checkout">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart reel__cart-icon">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 12.35a2 2 0 0 0 2 1.65h8.24a2 2 0 0 0 2-1.65L23 6H6"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="right"></div>
  </section>
</div>
