<div class="container">
  <div class="row justify-content-center">
    <div class="">
      <div class="message-box _success _failed">
        <div class="box">
            <div class="error alert">
              <div class="alert-body"></div>
            </div>
          </div>
        <h2>Oops, Something Went Wrong</h2>
        <p>
          We're sorry, but there was an issue processing your payment. Please
          double-check your payment information and try again. If the problem
          persists, you may wish to use a different payment method or contact
          your financial institution for assistance. For any questions or
          concerns, our customer support team is here to help.
        </p>
      </div>
    </div>
  </div>
</div>
